.intro-bg {
    display: flex;
    background-image: linear-gradient(rgb(26, 148, 211), rgb(90, 185, 229));
}

img {
    width: 50%;
}

.newimg {
    width: 100%;
    height: max-content;
}

.intro-plane {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
}

.intro-text-placement {
    font-family: cursive;
    width: 75%;
    height: 20%;
    position: absolute;
    left: 17%;
    top: 20%;
}

.intro-text {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 60px;
    font-weight: bolder;
}

.intro-letters {
    display: inline-block;
    width: max-content;
    height: max-content;
    background: linear-gradient(45deg, #FFD700, #FF4500, #FF6347);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}